<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Quikkly Test!</h2>
  <p>
    This is a basic Ionic app to test the integration of the 
    quikkly SDK. Press the SCAN button to open the Quikkly 
    scanner. Simply scan a code and the resolved values
    will be displayed.
  </p>
  <h3>TAGS</h3>
  <ul>
      <li *ngIf="!tags.length">Scan some tags !</li>
      <li *ngFor="let tag of tags">
        {{ tag }}
      </li>
  </ul>
  <p>
    <button ion-button icon-start (click)="goQuikkly()">
      <ion-icon name="star"></ion-icon>SCAN</button>
  </p>
</ion-content>
